.centered { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  color: white;
  text-decoration:none;
}

/* Responsive font sizes */
@media (max-width: 1400px) {
  .centered {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .centered {
    font-size: 32px;
  }
}
@media (max-width: 800px) {
  .centered {
    font-size: 20px;
  }
}
