* { font-family: 'Georgia', Times, serif; }

.navbar-brand, .nav-link, p { font-size: 1.5rem; }

.centered { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  color: white;
  text-decoration:none;
}

.centered:hover { 
  color:white;
  text-decoration:underline;
}

.headshot {
  position: absolute;
  left: 10%;
}

.wordsBackground {
  background-color: blanchedalmond;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.words { 
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 40px;
}